*{
    margin: 0;
    padding: 0;
    
}

nav ul {
    padding:0px;
    margin:0px;
    list-style:none;
    
}

nav ul li { display: inline; 
    overflow: hidden;
}


nav ul li a {
    padding: 5px 15px;
    margin: 10px;
    display: inline-block;

    /* visual do link */
    
    color: yellow;
    text-decoration: none;
    border-bottom:3px solid yellow;
    border-top: 3px solid yellow;
    border-right: 3px solid yellow;
    border-left: 3px solid yellow;
}
/*background do header*/
.bgroundH{
    background-color: #8A2326; 

}
/*posição da navbar*/
.posicaoN{
    position: absolute;
    top: 70px;
    right: 500px;
}
/*cor do texto do carrousel*/
.corLc{
    color:black;
}
/*cor do botão carrosel*/
.corB{
    color: yellow;
}
/*hover para o botão do nav*/
.hover:hover{
    background-color: yellow
}
/*classe para centralizar o texto  (variedades)*/
.textC{
    text-align: center;
    padding-bottom: 0;
    
}
/*tamanho e cor da fonte (variedades de carnes)*/
.fonteV{
    font-size: 30px;
    color:yellow;
}
/*tamanho da imagem (variedades de carnes)*/
.tamanhoI1{
    width: 325px;
    height: 150px;
    
}

.bgroundV{
    background-color:rgba(138, 35, 38, 0.747);
    
}

.tamanhoI2{
    width:100%;
    height: 100px;
    position: absolute;
    left: 10px;
    top: 1000px;
    padding-left: 60px;
    padding-top: 10px;
}
.img-thumbnail2 {
    padding: .25rem;
    background-color:rgba(138, 35, 38, 0.747) ;
    /* border: 1px solid #dee2e6; */
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}
.hr {
    margin-top: 4px;
    margin-bottom: 4px;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}
.imgInterna{
    width: 500px;
    height: 500px;
}
.textl{
    float: right;
}

.textF{
    font-size: 20px;
    color: yellow;
}
.textF2{
    color: black;

}
.bgroundF{
    background-color: #8A2326; 

}

.imagen{
    float: right;
    position: absolute;
}


